<p>
    <strong>Название отеля:</strong>
    <%= hotel.name %>
    <strong>Адрес:</strong>
    <%= hotel.address %>
    <strong>Email:</strong>
    <%= hotel.email %>
    <strong>Телефон:</strong>
    <%= hotel.phone %>
    
</p>