<p>
    <strong>Hotel:</strong>
    <%= hotel.name %>
    <strong>Address:</strong>
    <%= hotel.address %>
    <strong>Email:</strong>
    <%= hotel.email %>
    <strong>Phone:</strong>
    <%= hotel.phone %>
    
</p>